.modal {
   display: none;
   position: fixed;
   z-index: 2000;
   top: 0;
   left: 0;
   width: 100vw;
   height: 100vh;
   justify-content: center;
   align-items: center;

   background-color: #ffffffee;
   transition: background-color 0.2s;

   &.opened.fading {
      background-color: #ffffff00;

      & .modal_photo_container {
         transform: scale(0.6);
         opacity: 0;
      }
   }

   &.opened {
      display: flex;
      background-color: #ffffffee;

      animation-duration: 0.2s;
      animation-name: fade-in-modal;

      @keyframes fade-in-modal {
         from {
            background-color: #ffffff00;
         }

         to {
            background-color: #ffffffee;
         }
      }

      & .modal_photo_container {
         animation-duration: 0.2s;
         animation-name: fade-in-photo;

         @keyframes fade-in-photo {
            from {
               transform: scale(0.6);
            }

            to {
               transform: scale(1);
            }
         }
      }
   }
}

.modal_photo_container {

   width: 90%;
   height: 90%;

   transition: all 0.2s;
}

.modal_photo_img {
   display: block;
   width: 100%;
   height: 100%;
   object-fit: contain;

   &.hide {
      display: none;
   }
}

// MOBILE

.App.mobile .modal_photo_container {
   width: 100%;
   height: 100%;
}
