@import '../../css/variables';

.mobile_navbar {
   position: absolute;
   top: $mobile_header_height;
   left: 50%;
   width: 480px;
   max-width: 100%;
   z-index: 900;

   transform: translateY(-100%) translateX(-50%);
   box-shadow: 0px 0px 4px 0px rgba(34, 60, 80, 0.2);

   transition: transform 0.2s ease-in;

   &.opened {
      box-shadow: 0px 0px 16px 4px rgba(34, 60, 80, 0.2);
      transform: translateX(-50%);
      transition: transform 0.2s ease-in-out;
   }

   & .navbar {
      padding-top: 20px;
      max-width: 100%;
      width: 100%;
   }

   & .header_logo {
      display: none;
   }

   & .manage_list__btn {
      height: 40px;
      font-size: 16px;
   }

   & .filter_menu_item__name {
      font-size: 12px;
   }

   & .sort_menu_popup_item {
      height: 40px;
      font-size: 16px;
   }

   & .rides_list_item__container {
      margin-right: 2px;
      padding-left: 10px;

      &.active {
         background:
            linear-gradient(0deg, #fff 0%, #fff 90%, #ffffff00 100%);
         border-right: none;

         & .rides_list_item__right {
            margin-right: 0px;
         }
      }
   }

   & .rides_list_item__right {
      width: 48px;
      max-width: 48px;
   }
}