@import '../../css/variables';

.mobile_navbar {
   position: absolute;
   top: $mobile_header_height;
   left: 0px;
   width: 480px;
   max-width: 100%;
   z-index: 900;

   box-shadow: 0px 0px 4px 0px rgba(34, 60, 80, 0.2);

   transform: translateX(-100%);
   transition: transform 0.2s ease-in;

   &.opened {
      box-shadow: 0px 0px 16px 4px rgba(34, 60, 80, 0.2);
      transform: none;
   }

   & .navbar {
      padding-top: 20px;
      max-width: 100%;
      width: 100%;
      height: calc(100vh - $mobile_header_height);

      background: #fff;
   }

   & .header_logo {
      display: none;
   }

   & .manage_list__btn {
      height: 40px;
      font-size: 16px;
   }

   & .navbar_menu_popup {
      background-color: $blue_hover;
   }

   & .filter_menu_item__name {
      font-size: 12px;
   }

   & .sort_menu_popup_item {
      height: 40px;
      font-size: 16px;
   }

   & .riders_list_wrapper::-webkit-scrollbar {
      width: 4px;
   }
   & .riders_list_wrapper::-webkit-scrollbar-thumb {
      width: 4px;
      background-color: $blue_semitransparent_lighter;
   }

   & .rides_list_item__container {
      padding-left: 10px;
      border-bottom: none;
      box-shadow: none;

      &.active {
         background: $blue_semitransparent_lightest;
         border-right: none;

         & .rides_list_item__right {
            margin-right: 0px;
         }
      }
   }

   & .rides_list_item__right {
      width: 48px;
      max-width: 48px;
   }

   & .right_border {
      display: none;
   }
}