@import '../../css/variables.scss';

.infobar {
   padding: 10px;
   max-width: 320px;
   min-width: 320px;
   overflow-x: auto;
   opacity: 1;

   scrollbar-width: thin;
   scrollbar-color: $blue_semitransparent_lighter transparent;
   transition: 
      padding 0.2s ease, max-width 0.2s ease,
      min-width 0.2s ease, opacity 0.2s ease 0.15s;

   &::-webkit-scrollbar {
      width: 4px;
      background-color: #fff;
   }

   &::-webkit-scrollbar-thumb {
      background-color: $blue_semitransparent_lighter;
   }

   &.collapsed {
      max-width: 0px;
      min-width: 0px;
      padding: 4px;
      overflow: hidden;
      opacity: 0;

      transition: 
         padding 0.2s ease, max-width 0.2s ease,
         min-width 0.2s ease, opacity 0.1s ease;

      &::-webkit-scrollbar-thumb {
         background-color: transparent;
      }
   }
}

.ride_header {
   display: none;
   flex-direction: column;
   justify-content: space-between;
   height: 95px;
   border-bottom: 1px solid $blue_main;
   padding-bottom: 10px;

   transition: height 0.2s ease-in-out;
}

.infobar .ride_header {
   display: flex;
}

.ride_header__subheader {
   display: flex;
   justify-content: space-between;
   font-size: 12px;
}

.strava_link {
   display: flex;
   align-items: center;
   width: fit-content;

   text-decoration: none;

   &:hover {
      text-decoration: underline;
   }

   &.disabled {
      display: none;
   }
}

.strava_logo {
   width: 16px;
   height: 16px;
   margin-right: 5px;
}