@import '../../css/variables.scss';

.infobar {
   position: relative;
   padding: 10px;
   max-width: 320px;
   overflow-x: auto;

   &.collapsed {
      max-width: 0px;
      padding: 4px;
      overflow: hidden;
      opacity: 0;
   }

}
.infobar::-webkit-scrollbar {
   width: 4px;
   background-color: #fff;
}
.infobar::-webkit-scrollbar-thumb {
   background-color: $blue_main;
}

.ride_header {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   height: 95px;
   border-bottom: 1px solid $blue_main;
   padding-bottom: 10px;

   transition: height 0.2s ease-in-out;
}

.ride_header__subheader {
   display: flex;
   justify-content: space-between;
   font-size: 12px;
}

.strava_link {
   display: flex;
   align-items: center;
   width: fit-content;

   text-decoration: none;

   &:hover {
      text-decoration: underline;
   }
}

.strava_logo {
   width: 16px;
   height: 16px;
   margin-right: 5px;
}