@import '../../css/variables.scss';

.mobile_header {
   position: fixed;
   display: flex;
   align-items: center;
   top: 0;
   left: 0;
   z-index: 1500;
   height: $mobile_header_height;
   width: 100%;
   padding: 0px 10px;

   background-color: #fff;
   box-shadow: 0px 6px 8px 0px #223c5033;

   & .header_logo {
      padding: 0;
      cursor: pointer;

      transition: transform 0.15s ease;

      &:active {
         transform: scale(0.95) translateY(10%);
      }
   }
}

.burger_btn {
   position: relative;
   width: 40px;
   height: 40px;
   margin-right: 10px;

   cursor: pointer;

   & span,
   &::before,
   &::after {
      position: absolute;
      left: 10%;
      width: 80%;
      height: 4px;
      background-color: $blue_main;
      transition: all 0.2s ease-in-out;
   }

   & span {
      top: calc(50% - 2px);
   }
   &::before {
      content: '';
      top: 20%;
   }
   &::after {
      content: '';
      bottom: 20%;
   }

   &.active span {
      transform: scaleX(0) translateX(-70%);
   }
   &.active::before {
      transform: rotate(-45deg);
      width: 50%;
      top: 30%;
      left: 20%;
   }
   &.active::after {
      transform: rotate(45deg);
      width: 50%;
      bottom: 30%;
      left: 20%;
   }
}

