@import '../../css/variables.scss';

.navbar {
   position: relative;
   display: flex;
   flex-direction: column;
   width: 320px;
   max-width: 320px;
   min-width: 320px;
   height: 100vh;
   overflow: hidden;

   background:
   linear-gradient(90deg, $blue_navbar_background 0%, $blue_navbar_background 70%, #ffffff 100%);
}

.header_logo {
   padding: 10px 10px 20px;

   h1 {
      font-size: 30px;
      font-weight: 600;
   }
}

.riders_list_wrapper {
   position: relative;
   overflow-x: hidden;
   overflow-y: scroll;
}
.riders_list_wrapper::-webkit-scrollbar {
   width: 0px;
   background-color: #fff;
}
.riders_list_wrapper::-webkit-scrollbar-thumb {
   background-color: transparent;
}

.rides_list {
   height: 100%;
   min-width: 100%;

   & li:last-of-type {
      padding-bottom: 30px;
   }
}

.rides_list_separator {
   margin-top: 10px;
   margin-bottom: 10px;

   text-align: center;
   font-size: 22px;
}

.right_border {
   position: absolute;
   z-index: 0;
   top: 0;
   right: 0;
   width: 2px;
   height: 100%;
   background:
   linear-gradient(
      180deg, 
      #fff 3%,
      $blue_main 50%, 
      #fff 97%
      );

   transform: translateX(0px);
}