
// COLORS

$blue_main: #2e82ff;
$blue_hover: #2e82ff1f;
$blue_semitransparent: #2e82ffbd;
$blue_semitransparent_lighter: #4e95ff85;
$blue_semitransparent_lightest: #4e95ff3d;
$blue_navbar_background: #e5ebf7;
$red: #d32828;

$map_background: #ECF6DE;


// SIZES

$mobile_header_height: 55px;
$mobile_infobar_collapsed: 135px;