@import '../../../css/variables.scss';

.manage_list {
  width: 95%;
  margin: 0 auto;
  margin-bottom: 10px;
}

.manage_list__global_buttons {
  display: flex;
  justify-content: center;
}

.manage_list__btn {
  position: relative;
  display: block;
  flex-grow: 1;
  max-width: 43%;
  height: 24px;

  color: #fff;
  background-color: $blue_main;
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
  cursor: pointer;

  &:hover {
    background-color: $blue_semitransparent;
  }

  &.active {
    background-color: $blue_dark;
  }
}

.filter_btn {
  border-right-width: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search_btn {
  max-width: 14%;
}

.manage_list__btn__search_icon {
  width: 12px;
  height: 12px;
}

.manage_list_btn__text {
  transform: translateY(-5%);
}

.filter_btn__description {
  margin-left: 5px;
  font-weight: 400;
  font-size: 11px;

  transform: translateY(-7%);
}

.sort_btn,
.filter_btn {
  border-left-width: 1px;

  &:before {
    position: absolute;
    content: '';
    top: 10%;
    left: 0;
    width: 2px;
    height: 80%;

    background-color: #fff;
  }
}

.navbar_menu_popup {
  display: none;
  border: 0px $blue_main solid;

  background-color: #fff;

  &.opened {
    display: block;
  }
}