@import '../../../css/variables.scss';

.manage_list {
   width: 95%;
   margin: 0 auto;
   margin-bottom: 10px;
}

.manage_list__global_buttons {
   display: flex;
   justify-content: center;
}

.manage_list__btn {
   position: relative;
   display: block;
   flex-grow: 1;
   max-width: 50%;
   height: 20px;

   color: #fff;
   background-color: $blue_main;
   font-size: 14px;
   font-weight: 600;
   line-height: 1;
   cursor: pointer;

   &:hover {
      background-color: $blue_semitransparent;
   }
}

.filter_btn {
   border-right-width: 1px;
   & span {
      font-size: 13px;
      font-weight: 400;
   }
}

.sort_btn {
   border-left-width: 1px;
   &:before {
      position: absolute;
      content: '';
      top: 10%;
      left: 0;
      width: 2px;
      height: 80%;

      background-color: #fff;
   }
}

.navbar_menu_popup {
   display: none;
   border: 0px $blue_main solid;

   background-color: #fff;

   &.opened {
      display: block;
   }
}