@import '../../../css/colors.scss';

.manage_list {
   width: 95%;
   margin: 0 auto;
   margin-bottom: 20px;
}

.manage_list__global_buttons {
   display: flex;
   justify-content: center;
}

.manage_list__btn {
   position: relative;
   display: block;
   flex-grow: 1;

   color: #fff;
   background-color: $blue_semitransparent;
   font-size: 14px;
   font-weight: 600;
   cursor: pointer;

   &:hover {
      background-color: $blue_semitransparent_lighter;
   }
}
.filter_btn {
   border-right-width: 1px;
}
.sort_btn {
   border-left-width: 1px;
   &:before {
      position: absolute;
      content: '';
      top: 10%;
      left: 0;
      width: 2px;
      height: 80%;

      background-color: #fff;
   }
}

.navbar_menu_popup {
   display: none;
   border: 0px $blue_main solid;

   background-color: #fff;

   &.opened {
      display: block;
   }
}

.sort_menu_popup_item {
   display: flex;
   justify-content: space-between;
   padding: 5px 10px;

   font-size: 14px;
   &:hover {
      background-color: #e3edff83;
   }

   &.fromBiggest {
      & .sort_menu_popup_item__name,
      & .biggest {
         font-weight: 600;
      }
   }
   &.fromSmallest {
      & .sort_menu_popup_item__name,
      & .smallest {
         font-weight: 600;
      }
   }
}

.sort_menu_popup_item__name {
   flex-grow: 1;
   width: 50%;
}

.sort_menu_popup_item__btn {
   width: 25%;
   cursor: pointer;
   &:hover {
      text-decoration: underline;
      text-decoration-style: dotted;
      text-decoration-thickness: 1px;
   }
}