.App {
   display: flex;
   height: 100vh;
   width: 100vw;
   overflow: hidden;

   background-color:#fff;
}

.rides_menu_container {
   position: relative;
   display: flex;
   flex-grow: 0;
}

.map_container {
   flex-grow: 1;
   flex-shrink: 0;
   width: 50%;
   height: 100%;
}
