@import './css/variables.scss';

.App {
   display: flex;
   height: 100vh;
   width: 100vw;
   overflow: hidden;

   background-color:#fff;

   &.mobile {
      position: relative;
      flex-direction: column;
      height: 100%;
      width: 100%;
   }
}

.rides_menu_container {
   position: relative;
   display: flex;
   flex-grow: 0;
}

// MOBILE

.mobile_main {
   position: relative;
   display: flex;
   flex-direction: column;
   height: 100vh;
   padding-top: $mobile_header_height;

   & .map_container {
      height: 100%;
   }

   & .collapse_btn {
      top: -30px;
      right: 50%;
      height: 32px;
      width: 128px;

      border: 2px #fff solid;
      border-image: 
         linear-gradient(
            0deg, 
            #fff, 
            $blue_main);
      border-image-slice: 1;
      border-bottom: none;
      transform: translateX(50%);

      box-shadow: 0px -4px 8px 0px rgba(34, 60, 80, 0.2);

   }
   .collapse_arrow {
      &:after {
         position: absolute;
         content: '';
         top: 50%;
         left: 50%;
         width: 0;
         height: 0;
         transform: translate(-50%, -50%);
   
         border-style: solid;
         border-width: 8px 8px 0px 8px;
         border-color: #007bff transparent transparent transparent;
      }
   }

}

.mobile_map {
   padding-bottom: $mobile_infobar_collapsed - 32px;
   min-height: 100%;

   & .map_left_gradient {
      display: none;
   }
}

.mobile_infobar {
   position: absolute;
   display: flex;
   left: 0;
   bottom: 0px;
   width: 100%;
   max-height: 80%;
   z-index: 650;

   background-color: #fff;
   box-shadow: 0px -2px 8px 0px rgba(34, 60, 80, 0.2);


   transition: transform 0.3s ease-in-out;
   &.collapsed {
      transform: translateY(calc(100% - $mobile_infobar_collapsed));
   }

   & .infobar {
      min-width: 100%;
      max-width: 100%;
      max-height: 100%;
      padding: 20px 15px;
      scroll-behavior: smooth;

      & h2 {
         transition: all 0.2s ease-in-out;
      }

      &.collapsed {
         max-width: 100%;
         padding: 20px 15px;
         padding-right: 19px;
         overflow-y: hidden;
         opacity: 1;

         & .ride_header {
            height: 75px;
            & h2 {
               font-size: 18px;
            }
         }
      }
   }
}
